<main class="main">
  <div class="inner">    
    <%= form_with(url: search_records_path, local: true, method: :get ) do |form| %>
      <%= form.text_field :keyword, placeholder: "お客様を検索する" %>
      <%= form.submit "検索" %>
    <% end %>
    <table class="table">
    <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">氏名</th>
      <th scope="col">担当者</th>
      <th scope="col">来店日</th>
    </tr>
  </thead>
      <thead>
        <%= render partial: 'record', collection: @records %>
      </thead>
    </table>
    
  </div>
</div>
</main>
